 :root {
--card-width:300px;
font-family: sans-serif;
text-align: center;
justify-content:center;
 }
 
 * {
box-sizing: border-box;
}
.user-cards-container{
display: flex;
background-color: violet;
flex-wrap: wrap;
  
}

.bacground{
background-color: #F4F5F7;
z-index: -100;


}

.user-card{
flex-grow: 2;
flex-basis: 250px;
display:  flex;
align-items: center;
flex-direction: column;
margin: 20px;
width: 100%;
min-width: 200px;
max-width: var(--card-width);
border-radius: 5%;
background-color: #F4F5F7;
z-index: 999;  

}

 .star {
display:  flex;
justify-content: center;
align-items: center;
height: 30px;
width: 30px;
color: lightgrey;
background-color: #FFFFFF;
border-radius: 50%;
position: relative;
top: 45%; left: 45%;
}

.star2 {
display:  flex;
justify-content: center;
align-items: center;
height: 30px;
width: 30px;
color: orange;
background-color: #FFFFFF;
border-radius: 50%;
position: relative;
top: 45%; left: 45%;
}

.card-header{ 
background-color: #FFFFFF;
width: 100%;
padding-top: 15px;
border-radius: 6%;
}
 
.main-info > img {
width: calc(0.35*var(--card-width));
height: calc(0.35*var(--card-width));
border-radius: 50%;
object-fit: cover;
}

.praise {
font-size: 12px;
color: gray;
font-weight: bold;
}

.name{
font-weight: bold;
padding-top: 20px;
}

h2 {
padding: 14px;
font-weight: bold;
}

.geolocation {
padding: 10px;
color: gray;
font-weight: bold;
font-size: 11px;
} 

.additional-info {
font-size: 12px;
color: gray;
padding: 15px;
margin: 0 20px;
line-height: 180%;
}

.follow {
display:  flex;
align-items: center;
justify-content:center;
flex-direction: column;
padding: 10px;
font-weight: bold;
margin: 0px;
margin-top: auto;
}

.link1{
display:  flex;
justify-content: center;
align-items: center;
width: calc(0.65*var(--card-width));
height: 40px;
border: 1px solid #039BE6;
border-radius: 9px;
padding: 10px;
margin: 10px;
color: #039BE6;
}

.link2{
display:  flex;
justify-content: center;
align-items: center;
background-color:#039BE6;
width: calc(0.65*var(--card-width));
height: 40px;
border-radius: 9px;
padding: 10px;
}
    
.href1{
color:#039BE6;
align-items: center;
}

.href2{
color:white;
align-items:center;
}

a {
text-decoration: none;    
}

footer{
display: inline-flex;
padding: 10px;
align-items: center;
justify-content:center;
margin-top: auto;
margin: 0 0 0px;
}

.card-footer { 
height: 20px;
width: 100%;
padding: 2px;
color: limegreen;
}

.status {
padding: 2px;
color: gray;
}


.card-footer2 {
height: 20px;
width: 100%;
padding: 2px;
color: gray;
font-weight: bold;
}

